@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary: #4008e2;
  --black: #020101;
  --neutral: #595959;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid red;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 132px;
  margin-bottom: 72px;
}

ul {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}

a {
  color: var(--neutral);
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  transition: 1s;
}

.select_page {
  color: var(--primary);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
  padding: 0px 132px;
  margin-bottom: 132px;
}

h1 {
  color: var(--primary);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

p {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
}

h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 400;
}

.content_section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 653px;
}

.container_button {
  display: flex;
  align-items: flex-start;
  gap: 15.76px;
}

.sign_in {
  color: var(--primary);
  display: flex;
  padding: 12px 17px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--white);
  border: 2px solid var(--primary);
  font-weight: 600;
}

.sign_in:hover {
  color: #3a07cb;
  background-color: #e6e6e6;
  transition: 0.5s;
}

.sign_up {
  color: var(--white);
  display: flex;
  padding: 12px 15.55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--primary);
  border: 2px solid var(--primary);
}

.sign_up:hover {
  color: #e6e6e6;
  background-color: #3a07cb;
  transition: 0.5s;
}

.card {
  padding: 40px;
  width: 301px;
  border-radius: 10px;
  box-shadow: 12px 16px 21px 0px rgba(0, 0, 0, 0.1);
  /* my style */
}

.content_card {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 12px;
}

.content_card h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-wrap: balance;
}

.content_card p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  text-wrap: balance;
}

.container_section_cards {
  justify-content: space-between;
  gap: 188px;
}

article {
  display: flex;
  padding: 0px 132px;
}

footer {
  padding: 72px 132px;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
footer div:nth-child(1) {
  flex: 1;
}
footer div {
  width: 250px;
}
footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
footer li:nth-child(1) {
  margin-bottom: 32px;
}

.copy {
  width: 18px;
}

.content_copy {
  display: flex;
  gap: 6px;
}

footer h3 {
  color: var(--primary);
  font-weight: 700;
}